<div div style="padding-right:15px;" class="container-fluid">
    <div class="row">
      <div class="col">
        <h2>Create Weekly Time Sheet</h2>
      </div>
    </div>



  <form action="" [formGroup]="newTimeSheetForm">

  <div class="row bg-dark">  
      <div class="col-md-1">Project</div>
      <div class="col-md-1">Task</div>
      <div class="col-md-1">Billable</div>
      <div class="col-md-1">Mon</div>
      <div class="col-md-1">Tue</div>
      <div class="col-md-1">Wed</div>
      <div class="col-md-1">Thurs</div>
      <div class="col-md-1">Fri</div>
      <div class="col-md-1">Sat</div>
      <div class="col-md-1">Sun</div>
      <div class="col-md-1">Total Hours</div>
    </div>
  

     
  </form>
