
   <!-- <div class="container-fluid" style="text-align: center">
        <div class="row">
            <div class="footer bg-dark">
                <div class="col-md-3"> Made By Mahaveer                    
                </div>
        </div>
    </div>
</div>


<footer class="page-footer font-small blue pt-4 bg-dark ">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
<div class="col-md-3 mb-md-0 mb-3">
   

    <ul class="list-unstyled">
      <li>
      <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
    </li>
    <li>
        <a class="nav-link" routerLink="/">Contact Us</a>
    </li>
    <li>
        <a class="nav-link" routerLink="/">About Us</a>
    </li>
    </ul>
      </div>  
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:Made By Mahaveer
  </div>
</footer>


<footer>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:Made By Mahaveer
      </div>
  </footer>-->
  
  <footer class="navbar-default navbar-fixed-bottom ">
      <div class="container-fluid text-center">
        <span>Made By Mahaveer</span>
      </div>
    </footer>