
<div class="sidenav bg-dark" >
  <div class="container-fluid">
      <a class="nav-item nav-link active" routerLink="/timesheet/newtimesheet">New Time Sheet</a>
      <a class="nav-item nav-link active" routerLink="/timesheet/pending-approval">Pending Approval</a>
      <a class="nav-item nav-link active" routerLink="/timesheet/approved">Approved</a>
      <a class="nav-item nav-link active" routerLink="/timesheet/rejected">Rejected</a>        
    </div>
  </div>


<!--
<div id="sidebar-wrapper">
  <ul class="sidebar-nav bg-dark">
    
    <li>
      <a class="nav-item nav-link active" routerLink="/timesheet/newtimesheet">New Time Sheet</a>
    </li>
    <li>
      <a class="nav-item nav-link active" routerLink="/timesheet/pending-approval">Pending Approval</a>
    </li>
    <li>
      <a class="nav-item nav-link active" routerLink="/timesheet/approved">Approved</a>
    </li>
    <li>
      <a class="nav-item nav-link active" routerLink="/timesheet/rejected">Rejected</a>       

    </li>
  </ul>
</div>-->


