<!--<nav class="navbar navbar-light bg-dark ">
    <div class="container-fluid">
        <div class="navbar-header ">
            <div class="navbar-nav ">
                <a class="nav-item nav-link active" routerLink="/timesheet">Time Sheet Entry</a>
                <a class="nav-item " routerLink="/home">Home</a>                 
                <div class="navbar-brand">
                    
                        <img id="brand-image" alt="website logo" src="assets/logo.png" class="img-circle" width="70" height="70">
                  
                </div>
            </div>      
        </div>        
    </div>
</nav>
-->

<div class="navbar navbar-inverse bg-dark">
    <div class="container-fluid">
        <div class="navbar-header ">  
            <ul class ="nav nvabar-nav collapse navbar-collapse mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/timesheet">Time Sheet Entry</a>
                </li>
            </ul>
        </div>
    </div>    
</div>